 

//colors
$text-black: #222222;
$text-gray: #adacba;
$text-light-gray: #d9d8e2;
$text-white: #ffffff;
$yellow: #f1c565;
$orange: #fe7919;
$green: #adf9f5;
$blue: #4abcf6;
$purple: #7488eb;
$pink: #ac65fa;
$bg-black: #1d1d1d;
$bg-dark-gray: #252729;

//header title
$font-family-serif: "Sen", sans-serif;

//cursor
$cursor-draggable: move;
$cursor-clickable: pointer;

//border radius
$chip-border-radius: 0.2rem;

 

//margin and padding
$container-padding-xs: 0.5rem;
$container-padding-s: 1rem;
$container-padding-m: 1.5rem;
$container-padding-l: 2rem;

$margin-xs: 0.5rem;
$margin-s: 1rem;
$margin-m: 1.5rem;
$margin-l: 2rem;
$margin-xl: 5rem;

$margin-vertical-xs: 0.5rem 0;
$margin-vertical-s: 1rem 0;
$margin-vertical-m: 1.5rem 0;
$margin-vertical-l: 2rem 0;

$margin-horizontal-xs: 0 0.5rem;
$margin-horizontal-s: 0 1rem;
$margin-horizontal-m: 0 1.5rem;
$margin-horizontal-l: 0 2rem;

//transition
$transition-micro: all 200ms cubic-bezier(0.615, 0.005, 0.1, 1); 

